<h1>Edit Player</h1>


<form method="POST">


<label>
Name:
</label>

<input

name="name"

value="{{player.name}}"

>


<br><br>


<label>
Position:
</label>


<select name="position">


<option value="GK"
{% if player.position == "GK" %}
selected
{% endif %}
>
GK
</option>


<option value="DEF"
{% if player.position == "DEF" %}
selected
{% endif %}
>
DEF
</option>


<option value="MID"
{% if player.position == "MID" %}
selected
{% endif %}
>
MID
</option>


<option value="FW"
{% if player.position == "FW" %}
selected
{% endif %}
>
FW
</option>


</select>


<br><br>


<label>
Team:
</label>


<select name="team_id">


{% for team in teams %}

<option

value="{{team.id}}"

{% if team.id == player.team_id %}
selected
{% endif %}

>

{{team.name}}

</option>


{% endfor %}


</select>


<br><br>


<button>
Save
</button>


</form>