<!DOCTYPE html>

<html>

<body>


<h1>Edit Performance</h1>


<form method="POST">


<label for="goals">
Goals:
</label>

<input

type="number"

name="goals"

id="goals"

value="{{stat.goals}}"

>


<br><br>


<label for="assists">
Assists:
</label>

<input

type="number"

name="assists"

id="assists"

value="{{stat.assists}}"

>


<br><br>


<label for="minutes">
Minutes:
</label>

<input

type="number"

name="minutes"

id="minutes"

value="{{stat.minutes}}"

>


<br><br>


<button>

Save

</button>



</form>


</body>

</html>