<!DOCTYPE html>
<html>

<head>
	<title>Edit Player</title>
</head>

<body>

<h1>Edit Player</h1>

<form method="POST" action="/edit/{{ player.id }}">
	
	<label>
		Name:
	</label>

	<input
		type="text"
		name="name"
		value="{{ player.name }}"
		required
	>

	<br><br>

	<label>
		Team:
	</label>

	<select name="team_id">

	{% for team in teams %}
	
	<option 
	value="{{ team['id'] }}"

	{% if team['id'] == player['team_id'] %}
	selected
	{% endif %}
	
	>

	{{ team['name'] }}


	</option>
	
	{% endfor %}

	</select>

	<br><br>

	<label>
		Goals:
	</label>
	
	<input
		type="number"
		name="goals"
		value="{{ player.goals }}"
	>

	<br><br>

	<label>
		Assists:
	</label>

	<input
		type="number"
		name="assists"
		value="{{ player.assists }}"
	>

	<br><br>

	<button type="submit">
		Update Player
	</button>

</form>

<br>

<a href="/">
	Back Home
</a>

</body>

</html>
