
<!DOCTYPE html>
<html>

<head>
	<title>Soccer Analytics</title>
</head>

<body>

<h1>Soccer Analytics Dashboard</h1>
	
<h2>Add Team</h2>

<form method="POST" action="/add_team">

	<input
		type="text"
		name="name"
		placeholder="Team name"
		required
	>

	<button type="submit">
		Add Team
	</button>

</form>

<hr>

<h2>Teams</h2>

<table border="1">

<tr>
	<th>ID</th>
	<th>Team Name</th>
</tr>

{% for team in teams%}

<tr>
	<td>
		{{ team.id }}
	</td>

	<td>
	
	<a href="/team/{{ team.id }}">
	{{ team.name }}
	</a>

	</td>

</tr>

{% endfor %}

</table>

<hr>

<h2>Add Player</h2>

<form method="POST" action="/add_player">

	<input
		type="text"
		name="name"
		placeholder="Player name"
		required
	>

	<select name="team_id">

		{% for team in teams %}
		
		<option value="{{ team.id }}">
			{{ team.name }}
		</option>

		{% endfor %}

	</select>
	
	<input
		type="number"
		name="goals"
		placeholder="Goals"
	>

	<input
		type="number"
		name="assists"
		placeholder="Assists"
	>

	<button type="submit">
		
		Add Player
	</button>

</form>


<hr>

<h2>Players</h2>

<table border="1">

<tr>
	<th>ID</th>
	<th>Name</th>
	<th>Team</th>
	<th>Goals</th>
	<th>Assists</th>
	<th>Actions</th>
</tr>

{% for player in players %}

<tr>
	<td>
		{{ player.id }}
	</td>

	<td>
		{{ player.name }}
	</td>

	<td>
		{{ player.team_name }}
	</td>

	<td>
		{{ player.goals }}
	</td>

	<td>
		{{ player.assists }}
	</td>

	<td>

		<a href="/edit/{{ player.id }}">
			Edit
		</a>

		|

		<a href="/delete/{{ player.id }}">
			Delete
		</a>

	</td>

</tr>

{% endfor %}

</table>

<hr>

<h2>Add Match</h2>

<form method="POST" action="/add_match">

    <label>Team</label>
    <select name="team_id" required>

        {% for team in teams %}
        <option value="{{ team.id }}">
            {{ team.name }}
        </option>
        {% endfor %}

    </select>


    <br><br>

    <input
        type="text"
        name="opponent"
        placeholder="Opponent"
        required
    >

    <br><br>

    <input
        type="date"
        name="date"
        required
    >

    <br><br>

	<input
		type="text"
		name="location"
		placeholder="Home or Away"
		required
	>

	<br><br>


	<input
		type="text"
		name="season"
		placeholder="Season"
		required
	>

	<br><br>

    <input
        type="number"
        name="team_score"
        placeholder="Your Score"
        required
    >

    <br><br>

    <input
        type="number"
        name="opponent_score"
        placeholder="Opponent Score"
        required
    >

    <br><br>

    <button type="submit">
        Add Match
    </button>

</form>

<hr>


<h2>Matches</h2>


<table border="1">

<tr>

	<th>Team</th>
	<th>Opponent</th>
	<th>Date</th>
	<th>Score</th>

</tr>


{% for match in matches %}

<tr>

	<td>
		{{ match.team_name }}
	</td>


	<td>
		{{ match.opponent }}
	</td>


	<td>
		{{ match.date }}
	</td>


	<td>
		{{ match.team_score }}
		-
		{{ match.opponent_score }}
	</td>


</tr>


{% endfor %}


</table>

<hr>


</body>

</html>
